[package]
name = "lnss_assets"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
blake3 = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
tempfile = "3"
